
@{
    ViewBag.Title = "Ohjeet";
    Layout = "~/Views/Shared/_BAWLayout.cshtml";
}




<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout" style="background:#fff">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-textshortcode">
                            <div class="tg-titleshortcode">

                             <h2><span style="color:#ed193e">Welcome!</span></h2>
                            </div>
                            <div class="tg-description">
                                <p>
                                    oltra.com is a new kind of Finnish online auction. In addition, we are free to make sales announcements, submit bids, and everything else, whether it's a private individual or a business. No ceiling for notifications, no monthly fees, and no sales promotion.

                                    Our intention has been to make trading as easy as possible. The buyer does not have to spend time competing to shout or let other bids affect their bids. You have two offers per sale announcement. The seller sees the bids received from his / her own information and selects them from the end of the winning bid. If your bid has won, you will see a notice in your own details (Winning screams). At the end of the sales period, the Seller sees in the Sales History the buyer's first name, email, and phone number. The buyer sees his winning shouts as the seller's email address.
                                </p>

                                <p>
                                    Further information can be obtained by e-mail at customer service (at) oltra.com
                                </p>
                                    </div>
                          
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    
</main>
<!--************************************
        Main End
*************************************-->


