
@{
    ViewBag.Title = "Käyttöehdot";
    Layout = "~/Views/Shared/_BAWLayout.cshtml";
}


<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout" style="background:#fff">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-textshortcode">
                            <div class="tg-titleshortcode">

                                <h2><span style="color:#ed193e;font-size: 30px;">TERMS AND CONDITIONS OF HELP</span></h2>
                            </div>
                            <div class="tg-description">
                                <p>
                                    -The rules listed here are binding to the user using our service. Violation of the rules may lead to the closure of the username.

                                    -Registration is required to use the service in all respects.

                                    - All registered users visit. Trading takes place in a way that is mutually agreed between users. Administrator (HelppoHuuto.fi) is not a participant and is not a party to sales transactions or trading.

                                    -If giving wrong user information is a crime.

                                    - User access to the Services is in accordance with this Agreement.

                                    -The user credentials must be up to date when using the service.

                                    -If the user information is given inadequately, incorrectly or improperly, or the user otherwise does not fulfill the conditions required for the license, the service provider has the right to remove the user account.

                                    -One user can only register one user account.

                                    - In accordance with the law, the service provider processes the personal data of all users.

                                    -The service provider has the right to disclose certain user information to another user of the service in connection with the transaction in order to pass on information about the buyer to the seller of the item and, accordingly, to the buyer about the seller.

                                    -The user is responsible for the proper handling of the information he receives in the course of trading.

                                    -User Account Owner is responsible for any use that has occurred with his username.

                                    -The user is responsible for all costs caused by the use of the service.

                                    -The user agrees to comply with applicable laws when using the service.

                                    -The service may not be used in a way that is offensive to other users or the service provider.

                                    -The user must have full access to the images and videos they add to the service.

                                    -The use of the service is at the user's own risk.

                                    -The object statement should be truthful.

                                    -The user must have the right to sell the items he has announced. The Service Provider is not responsible for any unauthorized sales.

                                    The sales note added to the service does not bind the seller to accept any purchase offer unless the seller has stated otherwise in the sales announcement.

                                    -The offer to buy an item in the service is always binding. Violation of the above-mentioned rule without good reason (typing error or other reason why the offer has been very high) may lead to the deletion of the username.

                                    -The service provider has the right to temporarily or permanently close or modify the service or part of it for maintenance, upgrades or other reasons.

                                    -The service provider has the right to change the free sections of the service for a fee.

                                    -The service may cause malfunctions or errors in the operation or features of the service that are not guaranteed by the service provider. The service provider is also not responsible for seeing possible damage caused by these problems.

                                    -The service provider is not responsible for the content or the correctness of the service, notices or other information.

                                    -Service trading and its execution is the responsibility of service users.

                                    - Damage or other malfunctions that may be caused by incorrect user information are not the responsibility of the service provider.

                                    -The problems or damages associated with the service in any way are not the responsibility of the service provider under any circumstances. And the service provider is not liable for them.

                                    - Illegal, good-tasting or otherwise unsafe messages may be removed and your service provider has full right.

                                    -The service provider has all the rights to add material to the user's service.

                                    -The service provider has a unilateral right to change the terms of service.
                                </p>




                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>
<!--************************************
        Main End
*************************************-->


