
@{
    ViewBag.Title = "Tietosuoja";
    Layout = "~/Views/Shared/_BAWLayout.cshtml";
}


<!--************************************
                Main Start
        *************************************-->
<main id="tg-main" class="tg-main tg-haslayout" style="background:#fff">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-sectionspace tg-haslayout" style="margin-top:30px">
        <div class="container">
            <div class="row">
                <div class="tg-aboutus">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="tg-textshortcode">
                            <div class="tg-titleshortcode">

                                <h2><span style="color:#ed193e;font-size: 30px;">SOFTWARE DATA PROTECTION REPORT</span></h2>
                            </div>
                            <div class="tg-description">
                                We commit ourselves to protecting the privacy of our users. Your trust is of paramount importance to us.

                                - Will my personal information be provided to third parties?
                                NO. We do not disclose personal information to any party except in exceptional cases by law, for example, in accordance with the requirements of the authorities and in accordance with the legislation in force at any given time.

                                - Protecting privacy.
                                Helppohuuto.fi attaches great importance to the privacy of its users. Helppohuuto.fi is committed to protecting and respecting your privacy as a user of services and complying with applicable personal data protection and data protection legislation.

                                -What information do I collect and from which sources is the data collected?
                                The information we collect about the use of the Services is primarily information directly provided to you by Helppohuuto.fi. Helppohuuto.fi collects personal information basically in the following contexts: When you sign up for Helppohuuto.fi; giving us feedback or otherwise contacting us; participating in our competitions and sweepstakes. In addition, we may, to the extent permitted by law, combine or supplement your information with other sources, as well as data derived from such sources. Examples of such other sources include public registers.

                                -We may collect the following personal information about our Services:
                                Name of the data; contact information (such as phone number, email address); registration information required by the digital account (such as username, nickname, password and any other unique identifier); permits and consents; the supply of information theft; information provided for surveys and studies; product information; ostokäyttäytymistiedot; other information collected about the use of the services (such as service used, location information, ads displayed, and click on ads, Use and browse information about the features of the services, and other information about how you use our services, cookie information); information from business representatives in a client or partnership (such as representative names, contact details).

                                -What is my personal information collected for?
                                We process your personal information with your consent and on our legitimate interest in providing our services, customer relations, and other comparable relationships and obligations arising therefrom, customer contact and marketing. In addition, personal data are processed to enable and further develop and maintain existing and future services and / or products. When dealing with your information, we always strive to ensure that the processing of your information is properly justified and necessary for the purposes described.

                                -What are my rights to my personal data processing?
                                Right to verify personal information: You have the right to receive confirmation from us of the processing of personal data relating to you and, if so, to verify your personal data. Right to rectification and deletion of personal data: If you find that the personal data we are processing about you are inaccurate, you have the right to request the correction of the incorrect information. You also have the right to remove your information in certain situations. Right to limitation of processing: In certain circumstances, such as if you question the accuracy of your personal data or have objected to our legitimate interest in processing your personal data, you may be entitled to request that we limit the processing of your information until a solution is found. Right to object to processing: In certain circumstances, such as if you question our legitimate interest in processing your personal data, you may be entitled to oppose such processing. Right to complain to the Supervisory Authority: We always try to resolve any disagreement directly with you. However, you have the right to submit a dispute regarding the processing of your personal data to the Data Protection Authority. you may have the right to oppose such treatment. Right to complain to the Supervisory Authority: We always try to resolve any disagreement directly with you. However, you have the right to submit a dispute regarding the processing of your personal data to the Data Protection Authority. you may have the right to oppose such treatment. Right to complain to the Supervisory Authority: We always try to resolve any disagreement directly with you. However, you have the right to submit a dispute regarding the processing of your personal data to the Data Protection Authority.

                                -How long will my information be kept?
                                Personal data will only be kept for as long as is necessary for the purposes for which the personal data are processed. The information is updated and updated at regular intervals. All unused and outdated information will be deleted during the audit. The data retention period may vary by data group and we may have a statutory obligation to retain some information, resulting in varying delays and removal practices. Obsolete and unnecessary information will always be removed without undue delay.

                                -How is my personal information protected?
                                When we process personal information, we strictly adhere to the due diligence and protection obligations of the law and good information management. We also limit the circle of people who process your personal information. Your data will only be processed by people who have the right to process personal information, such as those working in the customer service and other people who process your information.

                                -Does websites use cookies and what are they?
                                We can collect information about the user's terminal using cookies and other similar technologies, such as a local data store on the browser.

                                - Is it possible that someone else is gathering information about my stay?
                                Yes. These so-called. third parties may set cookies on the user's terminal when a user visits our service, for example, to provide targeted advertising to the user or to statistics the number of visitors to different sites. As a contractual arrangement, we strive to ensure that these third parties comply with applicable legislation and self-regulatory guidelines in the industry.

                                - Can I change this privacy statement?
                                We are constantly developing our services and we reserve the right to change this privacy statement. Changes can also be based on changes in legislation. We recommend that you regularly review the content of this Privacy Statement. If we substantially change the privacy statement, we will let you know. In such situations, we may, if necessary, also request approval for the changes we make.


                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>
<!--************************************
        Main End
*************************************-->


