
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HelppoHuuto</title>
</head>
<body>
    <h1>@ViewBag.offset</h1>
    <h1>@ViewBag.Date</h1>
    <img src="~/Images/BG1.jpg" style="width: 100%;" />
</body>
</html>
