
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="shortcut icon" href="~/Images/Favicon/favicon.ico" type="image/x-icon">
    <title>
        Something wrong
    </title>
</head>
<body style="background:black;color:white;text-align:center">
    <div class="container"> 

        <h4 style="text-align:center;padding-top:50px;font-size:28px">

            Something wrong
        </h4>

        <a href="@Url.Action("Index","Store")">
        <h1>
   
            
             <b>Go To Home</b>
        </h1>
          </a>
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <img src="~/Content/css/images/Wrong.gif" style="padding-top:20px;width:100%" />

            </div>
        </div>

    </div>
</body>
</html>
