@model Sokuuhotu.Models.ResetPasswordViewModel
@{
    Layout = null;
}



<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Reset Confirm</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="~/Images/Favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/normalize.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/icomoon.css">
    <link rel="stylesheet" href="~/Content/css/transitions.css">
    <link rel="stylesheet" href="~/Content/css/flags.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/css/prettyPhoto.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/scrollbar.css">
    <link rel="stylesheet" href="~/Content/css/chartist.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
    <link rel="stylesheet" href="~/Content/css/color.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <script src="~/Scripts/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>


    <style>
        #textdiv {
            float: left;
            margin: 0 0 40px;
            background: #fcfcfc;
            border: 1px solid #eaedef;
            height: 357px;
        }

        #logoimg {
            margin-bottom: -60px;
            height: 100px;
            max-width: 100%;
        }

        a {
            text-decoration: none;
        }
    </style>



</head>








<body style="background:#EAE7DC">
    <div class="container">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!--************************************
                Wrapper Start
        *************************************-->
        <div id="tg-wrapper" class="tg-wrapper tg-haslayout" style="background:none">

            <main id="tg-main" class="tg-main tg-haslayout" style="background:none">
                <div class="container">
                    <div class="row">

                        @*<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <img src="~/Images/Logo.png" id="logoimg" />
                            </div>*@

                        <div id="tg-content" class="tg-content">
                            <div class="tg-loginsignup" style="float:none">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
                                    <div class="tg-logingarea" style="background: #363b4d;">


                                           <div class = "tg-formtheme tg-formloging">


                                                <fieldset style="text-align:center">


                                                    @if (ViewBag.status == true)
                                                    {

                                                    <p style="font-family:sans-serif;font-size:12px;color:#fff">Password updated</p>
                                                        <span>
                                                            <a href="@Url.Action("Login","Account")" style="color:#ed193e">
                                                                Log in
                                                            </a>
                                                        </span>


                                                    }
                                                 else
                                                    {
                                                <p style="font-family:sans-serif;font-size:12px;color:red">Email address not found</p>
                                                <a href="@Url.Action("ForgotPassword","Account")" style="color:#ed193e">
                                                    Click to try again

                                                </a>


                                                    }
                                                        

                                                 





                                                </fieldset>
                                            </div>



                                    </div>



                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </main>

        </div>


    </div>

    <script src="~/Scripts/js/vendor/jquery-library.js"></script>
    <script src="~/Scripts/js/vendor/bootstrap.min.js"></script>
    <script src="~/Scripts/js/responsivethumbnailgallery.html"></script>
    <script src="~/Scripts/js/jquery.flagstrap.min.js"></script>
    <script src="~/Scripts/js/backgroundstretch.js"></script>
    <script src="~/Scripts/js/owl.carousel.min.js"></script>
    <script src="~/Scripts/js/jquery.vide.min.js"></script>
    <script src="~/Scripts/js/jquery.collapse.js"></script>
    <script src="~/Scripts/js/scrollbar.min.js"></script>
    <script src="~/Scripts/js/chartist.min.html"></script>
    <script src="~/Scripts/js/prettyPhoto.js"></script>
    <script src="~/Scripts/js/jquery-ui.js"></script>
    <script src="~/Scripts/js/countTo.js"></script>
    <script src="~/Scripts/js/appear.js"></script>
    <script src="~/Scripts/js/main.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

</body>

</html>
